/* ------Participant Attribute Tag Buttons------ */

.participant-attributes-container {
  background: black;
  position: absolute;
  right: 0;
  bottom: 0;
  border-radius: 10px 0 0 0;
  margin-bottom: -2px;
  padding: 3px 0 0 2px;
}

/* ------Participant Attribute Tag Buttons------ */

.attribute-button {
  background: none;
  border: none;
  padding: 0;
  font-size: 1.6em;
  color: white;
  transition: color 0.2s;
}

.attribute-button:hover {
  border-radius: 3px;
  background: black;
  color: #e66;
}

.attr-add-buttons-container {
  border: solid black 2px;
  border-radius: 10px;
  position: fixed;
  top: 30vh;
  left: 30%;
  width: 40%;
  margin-right: 20%;
  z-index: 1;
  grid-template-columns: repeat(5, 1fr);
  background: black;
}

.attribute-button img {
  width: 1em;
  transition: transform 0.2s;
}

.attribute-button img:hover {
  transform: scale(1.5, 1.5);
  border-radius: 3px;
}
