body {
  background-color: black;
}

.App {
  text-align: center;
  min-height: 70vh;
}

/* ------General------ */

p,
h3,
h2,
h1 {
  cursor: default;
}

input {
  border-radius: 5px;
  border: none;
  padding: 4px;
  margin: 2px;
}

input:hover {
  border: solid rgb(200, 255, 255) 2px;
  padding: 2px;
}

input:focus,
input:active {
  border: solid rgb(0, 50, 50) 2px;
  padding: 2px;
}

/* Used for elements that should fill the entirety of the screen */
.fillscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

button {
  border: none;
  background: white;
  border-radius: 3px;
  margin: 2px;
  padding: 3px;
}

button:hover {
  color: green;
}

button:active {
  color: grey;
}

/* ------Animations------ */

@keyframes bg-sway {
  from {
    left: 0;
  }
  to {
    left: -20%;
  }
}

@keyframes bg-sway-portrait {
  from {
    left: -40vw;
  }
  to {
    left: -180vw;
  }
}

@keyframes participant-card-appear {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 2s infinite linear;
}

.rotating-counter {
  animation: rotate 2s infinite linear reverse;
}

/* ------Background------ */

/* Bg should change size depending on portrait vs landscape */

#bg-mask {
  z-index: 5;
  opacity: 0.2;
}

#bg {
  animation: bg-sway 20s infinite alternate;
  position: fixed;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 120vw;
  height: 100vh;
  z-index: 4;
}

@media (orientation: portrait) {
  #bg {
    animation: bg-sway-portrait 40s infinite alternate;
    width: 320vw;
  }
}

/* ------Participant Container------ */

#participant-container {
  padding: 3%;
  padding-top: 0;
  z-index: 10;
  position: relative;
  display: grid;
  grid-auto-rows: 50px 1fr 50px;
}

/* ------Participant List------ */

#participant-list {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-bottom: 5px;
}

@media (max-width: 1200px) {
  #participant-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 930px) {
  #participant-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 570px) {
  #participant-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* ------Participant Card------ */

.participant-card {
  border: solid black 4px;
  border-radius: 10px;
  margin: 3%;
  padding: 2px;
  background-color: #bbb;
  position: relative;
  animation: participant-card-appear 0.5s;
  transition: background-color 1s;
}

.participant-card-active {
  margin: 3%;
  background-color: white;
}

.participant-image-frame {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  border: inset 10px;
  overflow: hidden;
  margin: auto;
}

.participant-image {
  position: relative;
}

/* ------Participant Attribute Tag Buttons------ */

.participant-card-buttons {
  background-color: white;
  border: solid black 2px;
  border-radius: 10px;
  margin: 0 5px 0 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.participant-card-buttons button {
  cursor: pointer;
}

.attribute-button {
  background: none;
  border: none;
  padding: 2px;
  font-size: 2em;
}

.attribute-button:hover {
  border: solid black 2px;
  padding: 0;
  border-radius: 3px;
  color: black;
}

/* ------Display Message------ */

#display-message {
  background: black;
  color: white;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  min-width: 300px;
  border-radius: 0 0 20px 20px;
}

/* ------Options------ */

#options-toggle-open-button {
  padding-top: 2px;
}

#options-container {
  z-index: 10;
  position: fixed;
  top: 1%;
  right: 0;
  text-align: right;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px 0 0 10px;
  transition: background 0.5s;
}

#options-container:hover {
  background: white;
}

/* TODO: */
/* Add new container for buttons so they exist on a grid */
/* Style buttons so they're like so:  ( Something | x ) */

#options-bg {
  padding: 5px;
}

#options-button {
  text-align: right;
  width: 20em;
  background: none;
}

#options-message {
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#saved-bg-button-container {
  display: grid;
  grid-template-columns: 2fr 1em 2fr 1em;
}

#saved-bg-button-container button {
  text-align: right;
}
