body {
  background-color: black;
  font-family: 'Overlock', cursive;
  padding-top: 2.5em;
  padding-bottom: 2.75em;
}

.App {
  text-align: center;
  min-height: 70vh;
}

@media (max-width: 500px) {
  body {
    padding-bottom: 0;
    padding-top: 0;
  }

  .App {
    padding-bottom: 100px;
    padding-top: 35px;
  }
}

/* ------General------ */

p,
h3,
h2,
h1 {
  cursor: default;
}

input {
  border-radius: 5px;
  border: none;
  padding: 4px;
  margin: 2px;
}

input:hover {
  border: solid rgb(200, 255, 255) 2px;
  padding: 2px;
}

input:focus,
input:active {
  border: solid rgb(0, 50, 50) 2px;
  padding: 2px;
}

.display-none {
  display: none;
}

.display-hidden {
  visibility: hidden;
}

/* Used for elements that should fill the entirety of the screen */
.fillscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

button {
  border: none;
  background: #eee;
  border-radius: 3px;
  margin: 2px;
  padding: 3px;
  cursor: pointer;
  transition: background 0.25s;
}

button:hover {
  background: #fff;
}

.inactive-button {
  color: #aaa;
  background: #333;
}

.inactive-button:hover {
  color: #aaa;
  background: #333;
  cursor: default;
}

.parentheses-border {
  margin: auto;
  margin-top: 1em;
  font-size: 1em;
  background: #000a;
  width: 30%;
  min-width: 200px;
  margin-bottom: 5px;
  color: white;
  border-radius: 10px;
  border: solid white;
  border-width: 0 2px 0 2px;
  outline: none;
}

.parentheses-border:hover {
  background: #000c;
}

button:active {
  background: #999;
}

/* ------Animations------ */

@keyframes bg-sway {
  from {
    left: 0;
  }
  to {
    left: -20%;
  }
}

@keyframes bg-sway-portrait {
  from {
    left: -40vw;
  }
  to {
    left: -180vw;
  }
}

@keyframes participant-card-appear {
  from {
    opacity: 0;
    top: -50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotating {
  animation: rotate 2s infinite linear;
}

.rotating-counter {
  animation: rotate 2s infinite linear reverse;
}

/* ------Background------ */

/* Bg should change size depending on portrait vs landscape */

#bg-mask {
  z-index: 5;
  opacity: 0.2;
}

#bg {
  animation: bg-sway 20s infinite alternate;
  position: fixed;
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 120vw;
  height: 100vh;
  z-index: 4;
}

@media (orientation: portrait) {
  #bg {
    animation: bg-sway-portrait 40s infinite alternate;
    width: 320vw;
  }
}

/* ------Participant Container------ */

#participant-container {
  padding: 3%;
  padding-top: 0;
  z-index: 10;
  position: relative;
}

#roll-chance-container {
  position: fixed;
  bottom: 5vh;
  left: 0;
  /* background: #000f; */
  /* border: solid white; */
  border-width: 2px 0 2px 0;
  width: 100vw;
}

#roll-chance-container button {
  color: white;
  background: #000a;
  border: solid white;
  border-width: 0 2px 0 2px;
  border-radius: 6px;
}

/* ------Participant Image------ */

.participant-image-container {
  height: 100px;
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  margin: auto;
  position: relative;
  float: left;
}

.participant-image-frame {
  border-radius: 100%;
  height: 87px;
  width: 87px;
  border: inset 7px;
  position: absolute;
  top: 0;
  left: 0;
}

.participant-image {
  position: absolute;
  top: 0;
  left: 0;
}

/* ------Display Message------ */

#display-message {
  position: fixed;
  top: 0;
  left: 25%;
  background: black;
  color: white;
  padding: 5px;
  margin: auto;
  margin-bottom: 10px;
  width: 50%;
  border-radius: 0 0 20px 20px;
  z-index: 1;
}

@media (max-width: 500px) {
  #display-message {
    font-size: 0.8em;
  }
}

/* ------ Room Prompt ------ */

#room-prompt {
  color: white;
  position: fixed;
  top: 25vh;
  width: 100%;
  z-index: 1000;
  background: #000a;
  border: solid white;
  border-width: 2px 0 2px 0;
  padding: 1em;
}

.connection-dot {
  animation: connection-dot-pulse 1s infinite linear;
}

@keyframes connection-dot-pulse {
  0% {opacity: 1;}
  30% {opacity: 0.2;}
  50% {opacity: 1;}
  100% {opacity: 1}
}
