.App {
  text-align: center;
  min-height: 70vh;
}

/* ------Background------ */

/* The background should be selected in some sort of options tab to allow for several different backgrounds dependant on setting / etc */

#bg-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 5;
  opacity: 0.2;
}

/* Ideally there should be some way to get rgb values and apply them to the background mask */

#bg {
  animation: bg-sway 20s infinite alternate;
  position: fixed;
  background-size: cover;
  top: 0;
  left: 0;
  width: 120vw;
  height: 100vh;
  z-index: 4;
}

@keyframes bg-sway {
  from {
    left: 0;
  }
  to {
    left: -20%;
  }
}

/* ------Participant Container------ */

#participant-container {
  padding: 3%;
  z-index: 10;
  position: relative;
  display: grid;
  grid-auto-rows: 50px 1fr 50px;
}

/* ------Participant List------ */

#participant-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
  #participant-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 930px) {
  #participant-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 570px) {
  #participant-list {
    display: grid;
    grid-template-columns: 1fr;
  }
}

/* ------Participant Card------ */

.participant-card {
  border: solid black 2px;
  border-radius: 10px;
  margin: 3%;
  padding: 4px;
  background-color: white;
}

.participant-card-active {
  border: solid green 6px;
  border-radius: 10px;
  margin: 3%;
  background-color: white;
}

/* ------Display Message------ */

#display-message {
  background: black;
  color: white;
  padding: 5px
}

/* ------Options------ */
#options-container {
  z-index: 10;
  position: fixed;
  top: 5px;
  right: 3%;
  text-align: right;
  background: white;
}

#options-bg {
  padding: 5px;
}
